# Whether to unit test
[unittest]
ut = false

[coverage]
exclude = /home/shawnzhao19/workspace/sourcecode/ahocorasick4cj/src/interval_tree.cj /home/shawnzhao19/workspace/sourcecode/ahocorasick4cj/src/interval_node.cj

[cangjie_library]

[cangjie_library_branch]
